/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

:root {
  --roboto: 'Roboto', sans-serif;
  --primary-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figcaption {
  position: absolute;
  left: -10000px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  height: 100vh;
  font-family: var(--roboto);
  background-color: #ffc176
}   
.to-do-list {
  width: 800px;
  padding: 1rem;
  border-radius: 5px;
  margin-inline: auto;
}
.to-do-list h1 {
  font-size: 3rem;
  margin-block: 2rem;
  text-align: center;
  color: #fff;
}
.to-do-list .toDoListInputsSec {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.to-do-list .toDoListInputsSec #taskInputField {
  width: 85%;
  height: 60px;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 2px #fff, 0px 1px 1px #000000ac;
}
.to-do-list .toDoListInputsSec #taskInputField::placeholder {
  font-size: 1.2rem;
}
.to-do-list .toDoListInputsSec #taskAddBtn {
  width: 75px;
  height: 60px;
  border-radius: 50%;
  border: none;
  border: 3px solid #fff;
  font-size: 2.5rem;
  background-color: #ffb121;
  color: #fff;
}
.to-do-list .toDoListInputsSec .taskCategoriesSec {
  width: 160px;
  font-size: 1.1rem;
  padding: 1rem 0.6rem;
  border-radius: 40px;
  border: none;
  color: #ffb121;
  box-shadow: 0px 0px 1px #fff, 0px 1px 1px #00000084;
}
.to-do-list .toDoListInputsSec .taskCategoriesSec option {
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
  border: none;
}

.to-do-list .tasksSection {
  margin-top: 2rem;
}

.to-do-list .tasksSection .taskContainer {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 2px solid #fff;
}
.to-do-list .tasksSection .taskContainer .task {
  font-size: 1.7rem;
  color: #fff;
}
.to-do-list .tasksSection .taskContainer .taskBtns {
  display: flex;
  gap: 1rem;
}
.to-do-list .tasksSection .taskContainer .taskBtns button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  background-color: #ffa41b;
  color: #fff;
  /* padding: 0.1rem 1rem; */
}