:root {
  --roboto: 'Roboto', sans-serif;
  --primary-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figcaption {
  position: absolute;
  left: -10000px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}   

.imgSlider {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-inline: auto;
}
.imgSlider button {
  flex-basis: 10%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}
.imgSlider button img {
  width: 100%;
  aspect-ratio: 1/ 1;
}
.imgSlider .imagesContainer {
  flex-basis: 62%;
  display: flex;
  overflow: hidden;
  border-radius: 10%;
}
.imgSlider .imagesContainer img {
  width: 100%;
  position: relative;
  right: 0%;
  object-fit: cover;
  object-position: center;
  transition: right 400ms ease;
}