:root {
  --roboto: 'Roboto', sans-serif;
  --primary-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figcaption {
  position: absolute;
  left: -10000px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: rgb(51, 51, 100);
}
.clock .digits {
  font-size: 1.8rem;
  position: absolute;
}
.clock .twelve {
  font-size: 2.5rem;
  top: 0;
  left: 50%;
  translate: -50%;
}
.one {
  top: 1.8rem;
  left: 70%;
}
.two {
  top: 4rem;
  right: 12%;
}
.clock .three {
  font-size: 2.5rem;
  top: 8rem;
  right: 8%;
}
.four {
  top: 13rem;
  right: 12%;
}
.five {
  bottom: 1rem;
  right: 30%;
}
.clock .six {
  font-size: 2.5rem;
  bottom: 0rem;
  right: 50%;
}
.seven {
  bottom: 1.5rem;
  left: 25%;
}
.eight {
  bottom: 24%;
  left: 1.5rem;
}
.clock .nine {
  font-size: 2.5rem;
  bottom: 45%;
  left: 1rem;
}
.ten {
  top: 20%;
  left: 2rem;
}
.eleven {
  top: 7%;
  left: 4.5rem;
}
.clock .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 48%;
  left: 48%;
  translate: -50%, -50%;
  z-index: 100;
}
.clock .clockHands {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%, -50%;
  rotate: 180deg;
  transform-origin: top;
}
.clock .secHand {
  width: 1px;
  height: 95px;  
  z-index: 10;
  background-color: rgb(9, 57, 1);
}
.clock .minHand {
  width: 2px;
  height: 80px;
  border-radius: 20px;
  background-color: lightgreen;
  z-index: 5;
}
.clock .hourHand {
  width: 4px;
  height: 70px;  
  border-radius: 30px;
  background-color: rgb(67, 95, 67);
}